__pycache__/
data/sessions/
input/
output/
static/uploads/
*.pyc
.DS_Store
高迪字库_王羲之*/
高迪字库_简体*/
高迪字库temp/
高迪字库_0414*/
高迪字库_gbk*/
高迪字体测试*.docx
高迪书法_行书V5_字符表.docx
字库缺失字符*.txt
常用3500繁简同形*.txt
王羲之字库/
build/
dist/
*.spec
*.exe
